* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.container {
  background: rgba(237, 234, 234, 0.849);
  height: 100vh;
  margin: 50px auto; /* *** */
  max-width: 40rem;
  padding: 50px 20px; /* top se 50 or right left dono se 20 */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px black; /* x y dir. 0, blur 10px color */
  border-style: 15px;
  width: 100%;
}
.heading {
  color: black;
  font-size: larger;
  margin: 10px;
  padding: 5px;
}
.search {
  margin: 5px;
  padding: 12px 10px; /* top se 12 or right left dono se 10 */
  border-radius: 5px;
  width: 100%;
}
.usercontainer {
  margin: 5px;
  padding: 15px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(232, 229, 229);
  width: 100%;
  /* justify-content: center; */
}
.user {
  display: flex;
  gap: 20px;
  padding: 15px 15px;
  align-items: center; /*column wise center */
  background-color: #fff;
  width: 100%;
  max-height: 4rem;
}
.usercontainer .user .image {
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.user img {
  width: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: top; */
}
.usercontainer .user .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.usercontainer .user .details h3 {
  font-size: 20px;
}
.usercontainer .user .details p {
  font-size: 15px;
}
